body{
  background-color: #86B6F6;
}
.slot{
  margin-top: 30px;
}
.slot_button button{
  margin-top: 50px;
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
}
.slot input{
  padding: 10px 100px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}
table td{
  padding: 10px 100px;
}